html
	head
		title DeepR
		link(rel="stylesheet" type="text/css" href="/reset.css")

		style
			:sass
				canvas
					position: fixed
					&:first-of-type
						transform: scale(.5)
					& + canvas
						z-index: -1

	body
		script(type="text/javascript" src="lib/matter.js")
		script(type="text/javascript" src="lib/three.js")
		script(type="module").
			import * as main from './js/main.js'
			window.main = main